<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="HTTP://localhost:3000/styles/index.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <title>Rujana's pastries</title>
</head>
<body class="body">
    
    <%- include(`partials/header`); %>

    <main class="main">
        <div class="content-outer-div">
            <div class="content-inner-div">
                <p class="cart-text">Cart</p>
            </div>
            <div class="contents-outer-div">
                <div class="contents-inner-div">
                    <div id="product-name-div">
                        <p class="contents-inner-text">Product name</p>
                        <ol id="product-list">
                            <% if (helper === undefined) {%>

                            <% } else { %>
                                    <% helper.map((element) => { %>
                                        <% let product = products.find(item => item.id === element.id ) %>
                                        <% if (product) { %>
                                            <li class="product-in-cart">
                                                <p class="product-in-cart-name"><%= product.name %></p>
                                            </li>
                                        <% } %>
                                    <% }) %>
                            <% } %>
                        </ol>
                    </div>
                    <div id="amount-div">
                        <p class="contents-inner-text">Quantity</p>
                        <ol id="amount-list">
                            <% if (helper === undefined) {%>

                            <% } else { %>
                                    <% helper.map((element) => { %>
                                        <li class="product-in-cart">
                                            <div class="product-in-cart-list-element-div">
                                                <button class="ajust-amount-in-cart-button" 
                                                        id="minus-${key}" 
                                                        onclick="removeFromCart('<%= element.id%>')">-</button>
                                                <p class="product-in-cart-name"><%= element.quantity %></p>
                                                <button class="ajust-amount-in-cart-button" 
                                                        id="plus-${key}"
                                                        onclick="addToCart('<%= element.id %>')">+</button>
                                            </div>
                                        </li>
                                    <% }) %>
                            <% } %>
                        </ol>
                    </div>
                </div>
            </div>
        </div>  
    </main>

    <%- include(`partials/footer`); %>
    
</body>

<script type="text/javascript" src="http://localhost:3000/scripts/cart.js"></script> 

</html>